body {
    background-color: #E5E5E5;
}

.contenedor-general {
    height: 700px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border: 5px solid red;
}

    .contenedor-general .grilla {
        width: 100%;
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        border: 5px solid #000;
    }

.head {
    width: 100%;
    height: 86px;
    background-color: #2196F3;
    position: relative;
}

.foto-head {
    position: absolute;
    left: 20%;
    top: 20%;
}

.contenedor-general .botones .btn {
    margin-top: 30px;
}

